<% product = variant.product
  if product.collection? %>
<ul class='assembly_items'>
  <% line_item.items.each do |v| %>
  <li>(<%= line_item.count_of(v) %>)  <%= link_to v.name, product_path(v.product) %>  (<%= v.sku %>)</li>
  <% end %>
</ul>
<% end %>
