<li<%= ' class="active"' if current == "Items" %>>
  <%= link_to admin_product_items_url(@product), class: 'icon-link' do %>
    <span class="icon icon-basket"></span>
    <span class="text"><%= Spree.t(:collections) %></span>
  <% end %>
</li>
